# Xcode
.DS_Store
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/
