<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.179531742874-k0g2p6cal903vk10nmvivhflne627jou</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>179531742874-k0g2p6cal903vk10nmvivhflne627jou.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要您的位置来发现附近与您灵魂共振的人</string>
</dict>
</plist>
